data/memes/*
data/phones/*.jpg
data/phones/models
data/phones/large
data/phones/labels.csv
data/gan_project/normal
data/gan_project/crappy
data/gan_project/image_gen
data/gan_project/models
.ipynb_checkpoints/
